<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>Duminda Idisooriya | Data Scientist</title>

	<!-- stylesheet css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="Duminda_idiooriya/css/all.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="app/static/images/style.css">


	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	
<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top " role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#service" >SKILLS</a></li>
				<li><a href="#about" >ABOUT</a></li>
				<li><a href= #portfolio >PORTFOLIO</a></li>

				<li><a href="#footer" >CONTACT</a></li>
				<li><a href="https://www.linkedin.com/in/duminda-idisooriya-b78582186" class="fab fa-brands fa-linkedin"></a></li>
				
				
			</ul>
		</div>
	</div>
</div>		

<!-- home section -->
<div id="home">
	<div class="container ">
		<div class="row">
			<div id="transbox">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
					<h2>Hi There,</h2>
					<h1>I'm <strong>Duminda Idisooriya</strong></h1>
					<p>I'm a final year undergraduate of Open University of Sri Lanka having 1+ years of experience in Python , Web Developing and Graphic Designing areas.  </p>
					<a href="https://github.com/Duminda-greYTech/Duminda_idiooriya/raw/main/cv-duminda.pdf" class="btn btn-default smoothScroll">Download Resume</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>


<!-- service section -->
<div id="service">
	<div class="container" id="service">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>My Skills </h2>
			</div>
			<div class="skill col-md-4 col-sm-4 ">
				<i class="fa-icon fa-brands fa-python"></i>
				<h3>Python</h3>
				<p class="skill-p">Python is the programing language which used mainly to build my projects. Currently following machine learning, data science and data anysis area using python. Java,SQL are other language which I used for developing projects.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class="fa-icon fa-solid fa-code"></i>	
				<h3>Web developing </h3>
				<p class="skill-p">Using HTML,CSS,Javascript and technologies like Bootstrap I develop mobile responsive websites for custom needs. Also I am aware about SEO technologies and currently I am developing some websites.  </a>.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<i class=" fa-icon fa-solid fa-paintbrush "></i>
				<h3>Graphic Design</h3>
				<p class="skill-p">Familiar with Adobe Photoshop, Illustrator and adobe XD able to do UI/UX designs as well.</p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Summery</h2>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>ABOUT ME</h3>
				<h4>Creative Designer  &amp; Free Thinker </h4>
				<p>Final year undergraduate of open university of srilanka following bachelor of science in computer science degree. With the basics of computer science from university courses, I learned python developing through learning platforms like Coursera and put them into practice with use of hackerank. Also I have skills in web developing and graphic design.</p>
				<p>Currently I am following Data science, Data analysis and machine learning areas.</p>
			</div>
		</div>
	</div>
</div>



<!-- team section -->
<div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Certification Online</h2>
			</div>

			<div class="col-md-4 col-sm-6">
				<a href="https://www.linkedin.com/in/duminda-idisooriya-b78582186"><img src="images/coursera-social-logo-brand.png" class="img-responsive" alt="team img"></a>
				<h3>Coursera</h3>
				<h4>Accomplishements from coursera are added into Linkedin </h4>
				<li>Applied Data Science with Python Specialization <br>&nbsp;	- University of Michigan </li>
				<li>Machine Learning on Google Cloud Specialization <br>&nbsp;	- Google Cloud </li>
				<li>Google IT Support Specialization <br>&nbsp;	- Google  </li>
				
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="https://www.hackerrank.com/DumindaGT?hr_r=1"><img src="images/hackerrank.png" class="img-responsive" alt="team img"></a>
				<h3>Hackerrank</h3>
				<li>Python Gold Badge</li>
				
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="https://www.linkedin.com/in/duminda-idisooriya-b78582186"><img src="images/linkedin.png" class="img-responsive" alt="team img"></a>
				<h3>Linkedin</h3>
				
			</div>



		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>My Portfolio</h2>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".html">Data Science</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Machine Lerning</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".Python">Python</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
               		</ul>
               		<div class="iso-box-section">
               			<div class="iso-box-wrapper col4-iso-box">

               				<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img id="p_img"src="images/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html wordpress mobile col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img id="p_img"src="images/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box Python col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img id="p_img" src="images/portfolio-img3.jpg" alt="portfolio img"></a>
									
               				 </div>

               				 <div class="iso-box html mobile col-md-6 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img id="p_img" src="images/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box Python col-md-6 col-sm-6 col-xs-12">
								<a href="#aaa"><img src="images/portfolio-img5.jpg" alt="portfolio img"id="p_img"> </a>
								
               				 </div>

               				 <div class="iso-box html photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"></a><img id="p_img" src="images/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img id="p_img" src="images/portfolio-img7.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-md-4 col-sm-6 col-xs-12">
               				 	<a href="images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img id="p_img" src="images/portfolio-img8.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>		

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>


<div id="myCarousel" class="carousel slide container" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  <li data-target="#myCarousel" data-slide-to="1"></li>
	  <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
  
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	  <div class="item active" id="aaa">
			<div class="row">
				<div class="col-lg-6"> 
					<img src="/images/portfolio-img3.jpg" alt="Los Angeles" width="500" height="800">
				</div>
				<div class="col-lg-6"> 
					<h3>Firste caption</h3>
					<p>Loren ipsun</p>
					<a href="https://www.google.com" class="btn btn-default" target="_blank">View Code</a>
				</div>
			</div>
		</div>

		
  
	  <div class="item">
		<div class="row">
			<div class="col-lg-6"> 
				<img src="/images/portfolio-img8.jpg" alt="Los Angeles" width="500" height="800">
			</div>
			<div class="col-lg-6"> 
				<h3>Firste caption</h3>
				<p>Loren ipsun</p>
			</div>
		</div>

	  </div>
  
	  <div class="item">
		<img src="/images/portfolio-img1.jpg" alt="New York"width="500" height="500">
	  </div>
	</div>
  
	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div>

<footer>
	<div id="footer" class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h2>Feel Free To Reach me</h2>
				<p>Address : 23/6/2 Latiyagolla, Nugaliyadda, Thalathuoya, Kandy. Srilanka</p>
				<p>Email: <span>duminda1827@gmail.com</span></p>
				<p>Phone: <span>+(94) 775099615</span></p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h2>Social Media</h2>
				<ul class="social-icons">
					<li><a href="https://www.linkedin.com/in/duminda-idisooriya-b78582186" class="fab fa-brands fa-linkedin"></a></li>
					<li><a href="#" class="fas fa-solid fa-envelope"></a></li>
                    <li><a href="#" class="fab fa-brands fa-whatsapp"></a></li>
					<li><a href="#" class="fab fa-brands fa-github-square"></a></li>

				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">

			</div>
		</div>
	</div>
</div>

<!--Chatbot-->
<div id="chatbot" class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Duminda. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="app/static/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>

<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>

<script src="js/jquery.nav.js"></script>
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.js"></script> 

<script src="app/static/images/app.js"></script>



</body>
</html>